<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.brouchoud.androiddev_badmintoncourtreservation">

    <application
        android:name=".BaseApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidDev_BadmintonCourtReservation">

        <activity android:name="ch.brouchoud.androiddev_badmintoncourtreservation.ui.BaseActivity"
            android:theme="@style/Theme.AndroidDev_BadmintonCourtReservation"/>

        <activity
            android:name="ch.brouchoud.androiddev_badmintoncourtreservation.ui.court.CourtsActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:parentActivityName="ch.brouchoud.androiddev_badmintoncourtreservation.ui.BaseActivity"
            android:theme="@style/Theme.AndroidDev_BadmintonCourtReservation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.brouchoud.androiddev_badmintoncourtreservation.ui.BaseActivity" />
        </activity>

        <activity
            android:name="ch.brouchoud.androiddev_badmintoncourtreservation.ui.management.AboutActivity"
            android:exported="true"
            android:parentActivityName="ch.brouchoud.androiddev_badmintoncourtreservation.ui.BaseActivity"
            android:theme="@style/Theme.AndroidDev_BadmintonCourtReservation" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.brouchoud.androiddev_badmintoncourtreservation.ui.BaseActivity" />
        </activity>

        <activity
            android:name="ch.brouchoud.androiddev_badmintoncourtreservation.ui.management.SettingsActivity"
            android:exported="true"
            android:parentActivityName="ch.brouchoud.androiddev_badmintoncourtreservation.ui.BaseActivity"
            android:theme="@style/Theme.AndroidDev_BadmintonCourtReservation">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.brouchoud.androiddev_badmintoncourtreservation.ui.BaseActivity" />
        </activity>

        <activity
            android:name="ch.brouchoud.androiddev_badmintoncourtreservation.ui.reservation.ReservationsActivity"
            android:exported="true"
            android:parentActivityName="ch.brouchoud.androiddev_badmintoncourtreservation.ui.BaseActivity"
            android:theme="@style/Theme.AndroidDev_BadmintonCourtReservation">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.brouchoud.androiddev_badmintoncourtreservation.ui.BaseActivity" />
        </activity>

        <activity
            android:name="ch.brouchoud.androiddev_badmintoncourtreservation.ui.player.PlayersActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:parentActivityName="ch.brouchoud.androiddev_badmintoncourtreservation.ui.BaseActivity"
            android:theme="@style/Theme.AndroidDev_BadmintonCourtReservation">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.brouchoud.androiddev_badmintoncourtreservation.ui.BaseActivity" />
        </activity>

        <activity
            android:name="ch.brouchoud.androiddev_badmintoncourtreservation.ui.reservation.CourtReservationActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:parentActivityName="ch.brouchoud.androiddev_badmintoncourtreservation.ui.BaseActivity"
            android:theme="@style/Theme.AndroidDev_BadmintonCourtReservation">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.brouchoud.androiddev_badmintoncourtreservation.ui.BaseActivity" />
        </activity>

        <activity
            android:name="ch.brouchoud.androiddev_badmintoncourtreservation.ui.player.EditPlayerActivity"
            android:label="@string/app_name"
            android:parentActivityName="ch.brouchoud.androiddev_badmintoncourtreservation.ui.player.PlayersActivity"
            android:theme="@style/Theme.AndroidDev_BadmintonCourtReservation">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.brouchoud.androiddev_badmintoncourtreservation.ui.player.PlayersActivity" />
        </activity>

        <activity
            android:name="ch.brouchoud.androiddev_badmintoncourtreservation.ui.court.EditCourtActivity"
            android:label="@string/app_name"
            android:parentActivityName="ch.brouchoud.androiddev_badmintoncourtreservation.ui.court.CourtsActivity"
            android:theme="@style/Theme.AndroidDev_BadmintonCourtReservation">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.brouchoud.androiddev_badmintoncourtreservation.ui.court.CourtsActivity" />
        </activity>

    </application>
</manifest>