<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <application
        android:name=".BaseApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidDev_BadmintonCourtReservation"
        tools:targetApi="31" >

        <activity
            android:name=".ui.management.SettingsActivity"
            android:exported="true"
            android:theme="@style/Theme.AndroidDev_BadmintonCourtReservation"
            android:parentActivityName=".ui.BaseActivity"/>

        <activity
            android:name=".ui.reservation.ReservationsActivity"
            android:parentActivityName=".ui.BaseActivity"
            android:theme="@style/Theme.AndroidDev_BadmintonCourtReservation"
            android:exported="true" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.BaseActivity" />
        </activity>


        <activity
            android:name=".ui.player.PlayersActivity"
            android:label="@string/app_name"
            android:parentActivityName=".ui.BaseActivity"
            android:theme="@style/Theme.AndroidDev_BadmintonCourtReservation"
            android:exported="true">
                <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".ui.BaseActivity" />
        </activity>

        <activity
            android:name=".ui.reservation.CourtReservationActivity"
            android:label="@string/app_name"
            android:parentActivityName=".ui.BaseActivity"
            android:theme="@style/Theme.AndroidDev_BadmintonCourtReservation"
            android:exported="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.BaseActivity" />
        </activity>

        <activity
            android:name=".ui.player.EditPlayerActivity"
            android:label="@string/app_name"
            android:parentActivityName=".ui.player.PlayersActivity"
            android:theme="@style/Theme.AndroidDev_BadmintonCourtReservation">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.player.PlayersActivity" />
        </activity>


        <activity
            android:name=".ui.court.CourtsActivity"
            android:label="@string/app_name"
            android:parentActivityName=".ui.BaseActivity"
            android:theme="@style/Theme.AndroidDev_BadmintonCourtReservation"
            android:exported="true">
                <intent-filter>
                    <action android:name="android.intent.action.MAIN" />

                    <category android:name="android.intent.category.LAUNCHER" />
                </intent-filter>
                <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".ui.BaseActivity" />
        </activity>
        <activity
            android:name=".ui.court.EditCourtActivity"
            android:label="@string/app_name"
            android:parentActivityName=".ui.court.CourtsActivity"
            android:theme="@style/Theme.AndroidDev_BadmintonCourtReservation">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.court.CourtsActivity" />
        </activity>

        <activity android:name=".ui.BaseActivity"
            android:theme="@style/Theme.AndroidDev_BadmintonCourtReservation"/>

    </application>
</manifest>